
//font size
$font-text : 1rem;
$font-text2 : 2rem;
$font-text3 : 3rem;
$font-text4 : 4rem;
$font-text5 : 5rem;


$font-title: 4rem;



//color

$search-color : #187553;
$search-hover-color :#018e5b;


//window width:


$small-screen :600px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen:1200px;
