<a href = "/"> Home </a> <br>
<% if (user == null) { %>
<a href = "/users/login"> Login </a> <br>
<a href = "/users/register"> Register </a> <br>
<% } else { %>
<a href = "/users/logout"> Logout </a> <br>
<a href = "/sessions"> Session </a> <br>
<% } %>

<% if (success_msg)  { %> <p> <%= success_msg %> </p> <% } %>
<% if (error_msg)  { %> <p> <%= error_msg %> </p> <% } %>
<% if (success)  { %> <p> <%= success %> </p> <% } %>
<% if (error)  { %> <p> <%= error %> </p> <% } %>