<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<<<<<<< HEAD
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <title>QnA app</title>
=======
    <div class="container">
      <form id="inputform" action="/users/register" method="POST">
        <h2>Register</h2>
        <div class="form-group">
          <label for="FirstName">First Name</label>
          <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="A, B, C ...." required>
        </div>
        <div class="form-group">
          <label for="LastName">Last Name</label>
          <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Nguyen, Tran, ...." required>
        </div>

        <div class="form-group">
          <label for="UserName">Username</label>
          <input type="=text" class="form-control" id="Username" name="UserName" placeholder="Username" required>
        </div>
        <div class="form-group">
          <label for="UserPass">Password</label>
          <input type="password" class="form-control" id="UserPass" name="UserPass" placeholder="Password" required>
        </div>
>>>>>>> 5d410cca0b919f3a13b3c3e579f4d5989777778f

  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
	<% include template/navbar.ejs %>

  <div class="contain">
    <div class="mask">
      <img class="w-50 mx-auto  d-block py-3" src="./ask-me.png">
      <p class="text-center d-block">Join a session and feel free to ask</p>
      <button class="btn btn-lg mx-auto d-block btn-dark"><a href="#">Find Your Session</a></button>
      <p class="text-center mt-4"><a href="">Log in</a> to vote question.</p>
      <p class="text-center">Not have an account? <a href="#">Sign up</a></p>
    </div>
  </div>



<<<<<<< HEAD
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
=======
    <!-- <script type="text/javascript" src="/javascripts/index.js"></script> -->
  </body>
>>>>>>> 5d410cca0b919f3a13b3c3e579f4d5989777778f
</html>
