<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>QnA app</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/quesitionBoard.css">
 --></head>
<body>
  <% include template/navbar.ejs %>
      <!-- Add question -->
    <div id="addQuestionForm">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" id="ask-box">
          <div class="row">
            <div class="col-lg-12" id="add"> Add Question </div>
          <!-- </div> -->
          <hr/>
          <div class="row">
            <div class="col-lg-3">
              <label style="margin-left: 50px; " for='title-ask'>Title</label>
            </div>
            <div class="col-lg-9"><input id='title-ask' type="text" name="title-ask"></div>
          </div>

          <div class="row">
            <div class="col-lg-3">
              <label style="margin-left: 50px; " for='Title'>Content</label>
            </div>
            <div class="col-lg-9">
              <textarea id="content-ask" name="content-ask"></textarea>
              <!-- <input id="content-ask" type="text" name="content-ask"> -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <button id="addQuestionBtn" class="btn btn-default" style="margin-left: 82%; margin-top: 5px; margin-bottom: 10px;">Submit</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>



  <div class="row">
    <div class="col-md-5 top10TaBle" id="top10Table">
      <div class="row top10" >QUESTIONS</div>
      <!-- First Post -->


    </div> <!--End of question table -->

    <div class="col-md-2"></div>

    <!-- top10 table -->
    <div class="col-md-5 top10TaBle">
      <div class="row top10" >TOP 10</div>
      <!-- First Post -->
      <div class="row userPost" id="userPost1">
        <div class="col-md-3 user">
          <img src="https://instagram.fdad1-1.fna.fbcdn.net/vp/6cbeeeb5904eae32a7f5c5d8e1e927e7/5B9A1C30/t51.2885-19/s320x320/30830360_1919864968323704_6723598940555444224_n.jpg"  class="img-circle avatarUser" alt="Cinque Terre">
          <div class="userName"> johnhuytran</div>
        </div>

        <div class="col-md-9 content">
          <div class="row" id="titlePost">Các phương thức xét tuyển.</div>
          <div class="row" id="contentPost">Em xin hỏi thầy/cô rằng trường chúng ta sẽ có bao nhiêu hình thức xét tuyển? Mỗi phương thức sẽ có bao nhiêu chỉ tiêu? Và hình thức cụ thể của từng phương thức như thế nào? Em xin cảm ơn. </div>
        </div>
      <hr class="style14">
      <div class="row inforPost">
        <span class="timePost">1h ago</span>
        <span><i class="fas fa-heart"></i></span>
        <span class="voteAmount"><span class="bold">522</span> votes</span>
        <span class="rating bold">#1</span>
      </div>

      </div> <!-- End of user post 1 -->

      <div class="row userPost" id="userPostSBE4">
        <div class="col-md-3 user">
          <img src="https://i1.sndcdn.com/avatars-000328399620-ouyykm-t500x500.jpg"  class="img-circle avatarUser" alt="Cinque Terre">
          <div class="userName"> trang</div>
        </div>

        <div class="col-md-9 content">
          <div class="row" id="titlePost">Các phương thức xét tuyển.</div>
          <div class="row" id="contentPost">Em xin hỏi thầy/cô rằng trường chúng ta sẽ có bao nhiêu hình thức xét tuyển? Mỗi phương thức sẽ có bao nhiêu chỉ tiêu? Và hình thức cụ thể của từng phương thức như thế nào? Em xin cảm ơn. </div>

        </div>
      <hr class="style14">
      <div class="row inforPost">
        <span class="timePost">3h ago</span>

        <span><i class="fas fa-heart"></i></span>
        <span class="voteAmount"><span class="bold">855</span> votes</span>
        <span class="SBE bold">selected by editor</span>

      </div>

      </div> <!-- End of user post 4 selected by editor -->

            <div class="row userPost" id="userNewestPost1">
        <div class="col-md-3 user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdhttUkj8Nc8H4JIM2DHszaSP2i96vdYFiN5SiDYYOdceTmiev"  class="img-circle avatarUser" alt="Cinque Terre">
          <div class="userName"> cahoihoang</div>
        </div>

        <div class="col-md-9 haveBorder content">
          <div class="row" id="titlePost">Các phương thức xét tuyển.</div>
          <div class="row" id="contentPost">Em xin hỏi thầy/cô rằng trường chúng ta sẽ có bao nhiêu hình thức xét tuyển? Mỗi phương thức sẽ có bao nhiêu chỉ tiêu? Và hình thức cụ thể của từng phương thức như thế nào? Em xin cảm ơn. </div>

        </div>
      <hr class="style14">
      <div class="row inforPost">
        <span class="timePost">1m ago</span>

        <span><i class="fas fa-heart"></i></span>
        <span class="voteAmount"><span class="bold">1</span> votes</span>
        <span class="newest bold">newest</span>

      </div>

      </div> <!-- End of newest post 1 -->

       <div class="row userPost" id="userNewestPost2">
        <div class="col-md-3 user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrveZPz48yhRojlCv9hmSYQ0fDyIWUs2b2ftYxIibVXz7rai304A"  class="img-circle avatarUser" alt="Cinque Terre">
          <div class="userName"> anonymous</div>
        </div>

        <div class="col-md-9 haveBorde content">
          <div class="row" id="titlePost">Các phương thức xét tuyển các phương thức xét tuyển.</div>
          <div class="row" id="contentPost"> Và hình thức cụ thể của từng phương thức như thế nào? Em xin cảm ơn. Em xin hỏi thầy/cô rằng trường chúng ta sẽ có bao nhiêu hình thức xét tuyển? Mỗi phương thức sẽ có bao nhiêu chỉ tiêu? Và hình thức cụ thể của từng phương thức như thế nào? Em xin cảm ơn. </div>

        </div>
      <hr class="style14">
      <div class="row inforPost">
        <span class="timePost">1w ago</span>

        <span><i class="fas fa-heart"></i></span>
        <span class="voteAmount"><span class="bold">2</span> votes</span>
        <span class="newest bold"> newest</span>

      </div>

      </div> <!-- End of newest user post 2 -->
    </div> <!--End of top 10 table -->
  </div>

  </div> <!--End of col-md8-->

  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/javascripts/quesitionBoard.js"></script>
</body>
</html>