<!DOCTYPE html>
<html>
<head>
	<title> Session </title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<% include template/header.ejs %>
	<form method="post" action="/sessions">
		<div class="form-group">
			<label'>SessionName</label>
			<input type="text" class="form-control" id = "sessionName" name="sessionName" placeholder="SessionName"></div> 
		</div>

		<div class="form-group">
			<label>SessionType</label>
			<input type="text" class="form-control" id = "sessionType" name="sessionType" placeholder="SessionType"></div> 
		</div>

		<button type="submit" class="btn btn-default">Create</button>
	</form>

	<script
	  src="https://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	  crossorigin="anonymous"></script>
	
	 
</body>
</html>