<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <title>QnA app</title>

  <link rel="stylesheet" href="/stylesheets/session.css">
</head>
<body>
	<% include template/navbar.ejs %>

  <div class="container">
    <div class="sessionList my-2 pb-2">
      <h2 class="text-center">Current Session:</h2>
      <ul class="list-unstyled text-center" id="sessionList">
        <li><a href="/sessions/1">SessionName</a></li>
        <li><a href="/sessions/1">Software Engineering</a></li>
        <li><a href="/sessions/1">Session Name</a></li>
      </ul>
    </div>
    <div class="sessionForm">
      <h2 class="text-center">Create New Session</h2>
      <form class="createSession" action="/api/sessions" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" id="nameSession" name="sessionName" autocomplete="off" required>
          </div>
          <div class="form-group col-md-6">
            <label for="typeSession">Type: </label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sessionType" id="typeSession" value="DEFAULT" checked>
              <label class="form-check-label" for="exampleRadios1">Default</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sessionType" id="typeSession" value="NEEDS_VERIFICATION">
              <label class="form-check-label" for="exampleRadios2">Verification</label>
            </div>
          </div>
        </div>
        <button class="btn btn-md btn btn-primary">Submit</button>
      </form>
    </div>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/javascripts/session.js"></script>
  </body>
  </html>
